<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReleaseMemory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ReleaseMemory.Properties.Settings>
            <setting name="LimitRed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LimitYellow" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LimitVal0" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="LimitVal1" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="LimitVal2" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="LimitVal3" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AutoLimit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoFlg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoWait" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="MonitoringTime" serializeAs="String">
                <value>5000</value>
            </setting>
        </ReleaseMemory.Properties.Settings>
    </userSettings>
</configuration>